body {
    background-image: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* milho (clicador) */
#clickArea {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.555);
    border-radius: 100px;
    border: solid 2px rgba(0, 0, 0, 0.678)
}

#clickArea #clicador{
    height: 400px;
    width: auto;
}

#clickArea #clicador:active {
    transform: scale(1.1);
    transition: ease-in 0.1s;
}

/* Barra */
.bar {
    position: absolute;
    top: 10px;
    right: 0;
}

/* Instâncias */
.instanciaMilho {
    width: 50px;
    height: auto;
    animation: swap 2s ease normal;
    position: absolute;
    top: 40%;
    left: 40%;
}

@keyframes swap {
    0%   { transform: translate(0); }  
   50%  { transform: translate(800px, -150px); opacity: 1; }  
   100% { transform: translate(800px, -250px); opacity: 0}
}